@import "tailwindcss";
@import "@navikt/ds-css" layer(components);
@import "../frontend/fonts.css" layer(fonts);
@import "@navikt/klage-file-viewer/styles.css";
@config "./tailwind.config.js";

@layer components {
  @theme {
    --a-font-family: "Source Sans 3", Arial, sans-serif;
  }
}

@layer kabal {
  :root {
    --a-font-family: "Source Sans 3", Arial, sans-serif;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
