@import "tailwindcss";
@import "@navikt/ds-css" layer(components);
@import "./fonts.css" layer(fonts);

@layer components {
  @theme {
    --a-font-family: "Source Sans 3", Arial, sans-serif;
  }
}

:root {
  --a-font-family: "Source Sans 3", Arial, sans-serif;
}

@theme {
  --font-display: "Source Sans 3", Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
