<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />

  <document-title />

  <document-id-list />

  <script>
    const DOCUMENT_ID_LIST = JSON.parse(document.getElementById('document-id-list')?.textContent ?? '[]');

    if (DOCUMENT_ID_LIST.length === 0) {
      throw new Error('Document ID list is empty.');
    }

    const channel = new BroadcastChannel('pdf-channel');

    const UUID = window.crypto.randomUUID();

    const postAllDocuments = (type) => channel.postMessage({ type, documentIdList: DOCUMENT_ID_LIST, tabInstanceId: UUID });

    postAllDocuments('OPEN');

    window.addEventListener('beforeunload', () => postAllDocuments('CLOSED'));

    channel.addEventListener('message', (event) => {
      if (event.data.type === 'PING') {
        if (event.data.documentId === '*' || DOCUMENT_ID_LIST.includes(event.data.documentId)) {
          postAllDocuments('OPEN');
        }
        return;
      }
    });

    const NAV_IDENT = '{{navIdent}}';

    const scaleMode = localStorage.getItem(`${NAV_IDENT}/pdf/new_tab/scale_mode`)?.slice(1, -1) ?? 'none';
    const customScale = localStorage.getItem(`${NAV_IDENT}/pdf/new_tab/custom_scale`) ?? '100';

    const isFirefox = navigator.userAgent.toLowerCase().includes('firefox');

    const CHROME_VIEW_MODES = {
      'page-fit': 'fit',
      'page-height': 'fitV',
      'page-width': 'fitH',
    };

    const getHashParams = () => {
      if (scaleMode === 'none') {
        return '';
      }

      if (scaleMode === 'custom') {
        return `#zoom=${customScale}`;
      }

      if (isFirefox) {
        return `#zoom=${scaleMode}`;
      }

      return `#view=${CHROME_VIEW_MODES[scaleMode]}`;
    };

    const PDF_URL = `{{pdfUrl}}${getHashParams()}`;

    const DARK_MODE_KEY = `${NAV_IDENT}/darkmode`;
    const prefersDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;

    /**
     * Retrieves the dark mode preference based on a stored value.
     * @param {string|boolean|null} storedValue - The stored dark mode preference value
     * @returns {boolean} Returns true if dark mode should be enabled, false otherwise
     */
    const getDarkMode = (storedValue) => {
      switch (storedValue) {
        case 'true':
          return true;
        case 'false':
          return false;
        default:
          return prefersDarkMode;
      }
    };

    const PDF_ELEMENT = document.createElement('object');
    PDF_ELEMENT.setAttribute('data', PDF_URL);
    PDF_ELEMENT.setAttribute('type', 'application/pdf');
    PDF_ELEMENT.setAttribute('width', '100%');
    PDF_ELEMENT.setAttribute('height', '100%');
    PDF_ELEMENT.style.filter = getDarkMode(localStorage.getItem(DARK_MODE_KEY)) ? 'invert(1) hue-rotate(180deg)' : 'none';
    PDF_ELEMENT.style.position = 'absolute';
    PDF_ELEMENT.style.left = '0';
    PDF_ELEMENT.style.top = '0';

    // Listen for dark mode changes in localStorage.
    window.addEventListener('storage', (event) => {
      if (event.key === DARK_MODE_KEY) {
        const darkMode = getDarkMode(event.newValue);
        PDF_ELEMENT.style.filter = darkMode ? 'invert(1) hue-rotate(180deg)' : 'none';
      }
    });

    document.addEventListener("DOMContentLoaded", () => {
      document.body.appendChild(PDF_ELEMENT);
    });
  </script>
</head>

<body style="height: 100%; width: 100%; overflow: hidden; margin: 0; background-color: rgb(82, 86, 89);"></body>

</html>