name: Update TypeScript shared cache

on:
  push:
    branches:
      - main

jobs:
  update-cache:
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        apps: [frontend, server]
    name: Update TypeScript ${{ matrix.apps }} shared cache
    runs-on: ubuntu-latest
    env:
      BUN_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Configure @navikt scope
        shell: bash
        run: |
          for dir in . ${{ matrix.apps }}; do
            echo -e '\n[install.scopes]\n"@navikt" = { token = "$BUN_AUTH_TOKEN", url = "https://npm.pkg.github.com/" }' >> "$dir/bunfig.toml"
          done

      - name: Install common dependencies
        shell: bash
        run: bun install --frozen-lockfile

      - name: Install ${{ matrix.apps }} dependencies
        shell: bash
        working-directory: ${{ matrix.apps }}
        run: bun install --frozen-lockfile

      - name: Restore cache for ${{ matrix.apps }}
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{matrix.apps}}/.tsbuildinfo
          key: ${{ matrix.apps }}-shared-${{ hashFiles(format('{0}/tsconfig.json', matrix.apps)) }} # This will never hit, but it is required.
          restore-keys: ${{ matrix.apps }}-shared-${{ hashFiles(format('{0}/tsconfig.json', matrix.apps)) }}

      - name: Typecheck ${{ matrix.apps }}
        shell: bash
        working-directory: ${{ matrix.apps }}
        run: bun run typecheck

      - name: Save shared cache for ${{ matrix.apps }}
        uses: actions/cache/save@v4
        if: always()
        with:
          path: |
            ${{matrix.apps}}/.tsbuildinfo
          key: ${{ matrix.apps }}-shared-${{ hashFiles(format('{0}/tsconfig.json', matrix.apps)) }}-${{ github.run_id }}
